
/*
header {
    position: relative;
    padding: 10px 15px;
    background-color: #222729;
    margin: -8px -10px;
}*/

/* HEADER */

/* .icons_header{
    display: grid;
    height: 40px;
    position:static;
} */


.icons_header img{
    height: 50px;
    background-color: aqua;    
}


.icon_inicio{
grid-column: 1/7;
grid-row: 1;
}

.icon_calendario{
    grid-column: 2/7;
    grid-row: 1;
}
.icon_recordatorio{
    grid-column: 3/7;
    grid-row: 1;
}

.icon_login{
    grid-column: 4/7;
    grid-row: 1;
}

* {
    margin:0px;
    padding:0px;
}

.icons_header {
    margin:auto;
    font-family:Arial, Helvetica, sans-serif;
    width: 50%;
    width:520px;
    /* border: 3px solid green; */
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
    text-align:center;
    list-style-type: none;
}
.nav > li>img {
    padding:10px 40px;
}

.nav li a {
    background-color:lightseagreen;
    color:#fff;
    text-shadow: 1px 1px 0 #000;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:aquamarine;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}




/* BODY */
.center {
    /* justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100px; */

    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
    background-color: aquamarine;
}
h1{
    text-align:center;
}

.mensajesCorrectosLogin{
    background-color: greenyellow;
    
}
.mensajesIncorrectosLogin{
    background-color: red;
    
}
.mensajeInfoLogin{
    background-color: peru;
}

.fechaCalendario{
    font-size: 20px;
}

.tituloCalendario{
    font-size: 18px;
}

.descripcionCalendario{
    font-size: 14px;
}

.errorLoged{
    background-color: red;
}
.tablaUsuarios{
    text-align: center;
    border: 1px solid black; 
    width: 50%;
    border-collapse: collapse;
}

.calendario{
    text-align: left;
    border-collapse:collapse;
}