
DB/data/mysql.pid
DB/data/mysql/proxies_priv.MAI
DB/data/mysql_error.log
DB/data/phpmyadmin/pma__userconfig.ibd
DB/data/mysql.pid
DB/data/mysql_error.log
DB/data/aria_log.00000001
DB/data/aria_log_control
DB/data/ib_buffer_pool
DB/data/ib_logfile0
DB/data/ib_logfile1
DB/data/ibdata1
DB/data/ibtmp1
DB/data/multi-master.info
DB/data/my.ini
DB/data/mysql/column_stats.frm
DB/data/mysql/column_stats.MAD
DB/data/mysql/column_stats.MAI
DB/data/mysql/columns_priv.frm
DB/data/mysql/columns_priv.MAD
DB/data/mysql/columns_priv.MAI
DB/data/mysql/db.frm
DB/data/mysql/db.MAD
DB/data/mysql/event.frm
DB/data/mysql/event.MAD
DB/data/mysql/event.MAI
DB/data/mysql/func.frm
DB/data/mysql/func.MAD
DB/data/mysql/func.MAI
DB/data/mysql/general_log.CSM
DB/data/mysql/general_log.CSV
DB/data/mysql/general_log.frm
DB/data/mysql/global_priv.frm
DB/data/mysql/global_priv.MAD
DB/data/mysql/global_priv.MAI
DB/data/mysql/gtid_slave_pos.frm
DB/data/mysql/gtid_slave_pos.ibd
DB/data/mysql/help_category.frm
DB/data/mysql/help_category.MAD
DB/data/mysql/help_category.MAI
DB/data/mysql/help_keyword.frm
DB/data/mysql/help_keyword.MAD
DB/data/mysql/help_keyword.MAI
DB/data/mysql/help_relation.frm
DB/data/mysql/help_relation.MAD
DB/data/mysql/help_relation.MAI
DB/data/mysql/help_topic.frm
DB/data/mysql/help_topic.MAD
DB/data/mysql/help_topic.MAI
DB/data/mysql/index_stats.frm
DB/data/mysql/index_stats.MAD
DB/data/mysql/index_stats.MAI
DB/data/mysql/innodb_index_stats.frm
DB/data/mysql/innodb_index_stats.ibd
DB/data/mysql/innodb_table_stats.frm
DB/data/mysql/innodb_table_stats.ibd
DB/data/mysql/plugin.frm
DB/data/mysql/plugin.MAD
DB/data/mysql/plugin.MAI
DB/data/mysql/proc.frm
DB/data/mysql/proc.MAD
DB/data/mysql/proc.MAI
DB/data/mysql/procs_priv.frm
DB/data/mysql/procs_priv.MAD
DB/data/mysql/procs_priv.MAI
DB/data/mysql/proxies_priv.frm
DB/data/mysql/proxies_priv.MAD
DB/data/mysql/proxies_priv.MAI
DB/data/mysql/roles_mapping.frm
DB/data/mysql/roles_mapping.MAD
DB/data/mysql/roles_mapping.MAI
DB/data/mysql/servers.frm
DB/data/mysql/servers.MAD
DB/data/mysql/servers.MAI
DB/data/mysql/slow_log.CSM
DB/data/mysql/slow_log.CSV
DB/data/mysql/slow_log.frm
DB/data/mysql/table_stats.frm
DB/data/mysql/table_stats.MAD
DB/data/mysql/table_stats.MAI
DB/data/mysql/tables_priv.frm
DB/data/mysql/tables_priv.MAD
DB/data/mysql/tables_priv.MAI
DB/data/mysql/time_zone.frm
DB/data/mysql/time_zone.MAD
DB/data/mysql/time_zone.MAI
DB/data/mysql/time_zone_leap_second.frm
DB/data/mysql/time_zone_leap_second.MAD
DB/data/mysql/time_zone_leap_second.MAI
DB/data/mysql/time_zone_name.frm
DB/data/mysql/time_zone_name.MAD
DB/data/mysql/time_zone_name.MAI
DB/data/mysql/time_zone_transition.frm
DB/data/mysql/time_zone_transition.MAD
DB/data/mysql/time_zone_transition.MAI
DB/data/mysql/time_zone_transition_type.frm
DB/data/mysql/time_zone_transition_type.MAD
DB/data/mysql/time_zone_transition_type.MAI
DB/data/mysql/transaction_registry.frm
DB/data/mysql/transaction_registry.ibd
DB/data/mysql/user.frm
DB/data/performance_schema/db.opt
DB/data/phpmyadmin/db.opt
DB/data/phpmyadmin/pma__bookmark.frm
DB/data/phpmyadmin/pma__bookmark.ibd
DB/data/phpmyadmin/pma__central_columns.frm
DB/data/phpmyadmin/pma__central_columns.ibd
DB/data/phpmyadmin/pma__column_info.frm
DB/data/phpmyadmin/pma__column_info.ibd
DB/data/phpmyadmin/pma__designer_settings.frm
DB/data/phpmyadmin/pma__designer_settings.ibd
DB/data/phpmyadmin/pma__export_templates.frm
DB/data/phpmyadmin/pma__export_templates.ibd
DB/data/phpmyadmin/pma__favorite.frm
DB/data/phpmyadmin/pma__favorite.ibd
DB/data/phpmyadmin/pma__history.frm
DB/data/phpmyadmin/pma__history.ibd
DB/data/phpmyadmin/pma__navigationhiding.frm
DB/data/phpmyadmin/pma__navigationhiding.ibd
DB/data/phpmyadmin/pma__pdf_pages.frm
DB/data/phpmyadmin/pma__pdf_pages.ibd
DB/data/phpmyadmin/pma__recent.frm
DB/data/phpmyadmin/pma__recent.ibd
DB/data/phpmyadmin/pma__relation.frm
DB/data/phpmyadmin/pma__relation.ibd
DB/data/phpmyadmin/pma__savedsearches.frm
DB/data/phpmyadmin/pma__savedsearches.ibd
DB/data/phpmyadmin/pma__table_coords.frm
DB/data/phpmyadmin/pma__table_coords.ibd
DB/data/phpmyadmin/pma__table_info.frm
DB/data/phpmyadmin/pma__table_info.ibd
DB/data/phpmyadmin/pma__table_uiprefs.frm
DB/data/phpmyadmin/pma__table_uiprefs.ibd
DB/data/phpmyadmin/pma__tracking.frm
DB/data/phpmyadmin/pma__tracking.ibd
DB/data/phpmyadmin/pma__userconfig.frm
DB/data/phpmyadmin/pma__userconfig.ibd
DB/data/phpmyadmin/pma__usergroups.frm
DB/data/phpmyadmin/pma__usergroups.ibd
DB/data/phpmyadmin/pma__users.frm
DB/data/phpmyadmin/pma__users.ibd
DB/data/test/db.opt
DB/data/mysql/db.MAI
.phpunit.result.cache
.phpunit.result.cache
.phpunit.result.cache
.phpunit.result.cache
.phpunit.result.cache
.phpunit.result.cache
.phpunit.result.cache
.phpunit.result.cache
*.cache
